body {
    font-family: Arial;
    margin: 40px;
}

h2 {
    color: #333;
}

form input {
    padding: 8px;
    width: 300px;
}

form button {
    padding: 8px 15px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 80%;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: center;
}

.UP {
    color: green;
    font-weight: bold;
}

.DOWN {
    color: red;
    font-weight: bold;
}

.Checking {
    color: orange;
}